* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

div {
}


table {
margin: auto;
border: 2px solid;

}

td {
	
	width: 100px;
	height: 100px;
	background-color: white;
	text-align: center;
	font-size: 4em;

 }

    tr:nth-child(odd) td:nth-child(even)
    {

	background-color: lightgray;
 }



   tr:nth-child(even)  td:nth-child(odd)
   {
   	background-color: lightgray;
   }

 