@font-face {
	font-family: "Garlic";
	src: url("../fonts/Graphik-Font-Family/GraphikRegular.otf");
		
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;

}

body {
	font-family: 'Nunito Sans', sans-serif;
}

/*img {
	display: block;
	width: 100%;
}*/

.text-decoration {
	text-decoration: none;
}


.wrapper {
	
		width: 100%;
		max-width: 1440px;
		margin: 0 auto;
		background: #19191B;
}

.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 40px;
	padding-left: 24px;
	padding-right: 24px;

}

.burger {
	display: flex;
	flex-direction: column;
	align-items: end ;
	
}


.logo {
	display: flex;
	align-items: center;
	gap:4px;
}

.logo_icon {
	width: 27px;
	height: 27px;

}

.logo_icon img {
	display: block;
	width: 100%;
}

.logo_text {
	font-size: 28px;	
	font-weight: 700;
	font-family:Montserrat;
	line-height: 39px;
	color:white;
}

.pic_block{
	background: url(../img/Group\ 162549.svg);
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
}
.pic_block img{
	display: block;
	width: 100%;
	object-fit: cover;

}
 

button.button_servises_land{
	
	justify-content: space-between;
	margin-top: 50px;
	padding: 0 20px;
}
/*  ----------------------------------------
---- mainblock with content------------------*/


.block {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	padding: 0 24px;
}
.main_block {

}

h1 {
	min-height: 189px;
	font-family: "Garlik", Arial, sans-serif;	font-size:42px ;
	line-height: 63px;
	font-weight: 700;
	color: rgb(255, 255, 255);
	padding-bottom: 30px;
	padding-top: 66px;

}

.par_text{
	
	font-size:16px ;
	line-height: 24px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.7);
	
}


.par_text.par_text_main {
	min-height: 96px;

}

.button{
display: flex;
align-items: center;
width: 166px;
height: 44px;
background-color: #5454D4;
}

.btn_servises {
	justify-content: space-between;
	margin-top: 50px;
	padding: 0 20px;


}
.button_text{
	color: white;
	font-size: 16px;
	font-weight: 700;
}

.arrow {
	display: block;
	margin-right: 8px;

}


.title  {
	font-size: 36px;
	font-weight: 700;
	font-family: ;
	line-height: 54px;
	color: white;
	
}

.title_choice {
	padding-top: 140px;
	padding-bottom: 30px;
}

/*краще використовувати падінг чи маржин в даному випадку?
title_choice і .choice_block p  */

.choice_block p {
	margin-bottom: 50px;
}

.video_preview {
	display: flex;
	align-items: center;
	justify-content: center;

}

/*чим верстати блок з відео? 
яким тегом? чи верстати кнопку плей?*/
.play-btn {}


/*чому на title_service не діє падінг 
загальний від контернт врапу?
*/.title_service {
	padding: 0px 24px 50px;

}


.servises_container {
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	margin-top: 50px;

}

.service_block {
	align-items: center;
	position: relative;
	margin-top: 140px;

}
.triangle{
	top: -75px;
	left: 20px;
	background-image: url(../img/triangle.svg);
	width: 46px;
	height: 46px;
	
}
.icon_p {
background-image: url(../img/icon_plus_svg.svg);
width: 28px;
height: 28px;
}
.icon_plus2 {
	left: 24px;
	bottom: -17px;
	
}
.icon_plus3{
	top: 93px;
	right: 10px;
}
/*прибрати марджин у останнього
*/

/*як з'являється бордер, якого я не дадавала?
*/.service_item_container {
	margin-bottom: 24px;
	/* padding: 0px 5px; */
	max-width: 80%;
}


/*текст в сервіс-айтем переноситься не як у дизайні
*/

.servise_item {
display: flex;
flex-direction: column;
align-items: center;
max-width: 384px;
padding: 48px 0px;
}

.service_icon {
	margin-bottom: 20px;

}
.title_item {
	color: white;
	font-size: 24px;
	font-weight: 600;
	line-height: 33px;
	text-align: center;
	margin-bottom: 20px;


}
.text_item {

	color: rgba(255, 255, 255, 0.7);
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	text-align: center;
}
.awesome_block {
	min-height: 540px;
	position: relative;
	margin-bottom: 140px;
	margin-top: 140px;
}
.circles_1 {
	top: 51px;
	right:24px;
	width: 40px;
	height: 46px;
	background: url(../img/circles.png)
}
.zig-zag {
	background: url(../img/zig-zag.png);
	left: 33px;
	bottom: -45px;
	width: 62px;
	height: 18px;
}
.title_choice_awesome {
	color: rgba(255, 255, 255, 0.8);
	
}

.slider_bcg {
	width: 100%;
	background-color:/* #1E1E20*/white;
	border-radius: 14px;
	margin: 50px 0px;
	

}
.slider_bcg img {
	display: block;
	width: 100%;
}



.slider_navigation {
	display: flex;
	margin: 0px auto;
}
 .nav{
 	width: 38px;
	height: 38px;
	border-radius: 50%;
	line-height: 38px;
	font-size: 18px;
	color: white;
	text-align: center;
 }
.left {
	background-color:rgba(255, 255, 255, 0.2);
	margin-right: 12px;
	transform: rotate(180deg);
}

.right {
	background-color: #5454D4;

	
}

.contact_block {
	min-height: 416px;
	background-color: rgba(30, 30, 32, 0.5);
	position: relative;

}


.title_contact {
	padding-top: 80px;
	
}
.absolute {
position: absolute;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
.icon_plus {
	top: 12px;
	right: 29px;
	
}
.circles{
	left: 9px;
	bottom: 12px;
	width: 40px;
	height: 46px;
	background: url(../img/circles.png)

}
.btn_contact {
	justify-content: center;
	border-radius: 4px;
	margin-top: 50px;

}

.mobile_menu_list{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	padding: 40px 0px;

}

.mobile_menu_list li a{
color: rgb(255, 255, 255, 0.7);
font-size: 18px;
}

.mobile_menu_list{
	display: none;
}

.footer_mobile{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	margin-top: 140px;
	padding-bottom: 50px;
}

.footer_list{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
}


.copywrite {
	font-size: 18px;
	color: white;
	font-family: "Garlic", Arial, sans-serif;

}

.footer_list a {
	color: rgb(255, 255, 255, 0.7);
	font-size: 18px;

}

@media (min-width: 768px) {

	.content_wrap {
		max-width: 1200px;
		margin-top: 50px;
		margin-right: 120px;
		margin-left: 120px;

	}

	.land_main_block {
		display: flex;
	}

	.main_block {
		max-width: 582px;
	}

	h1 {
		font-size: 80px;
		line-height: 84px;
		font-weight: 800;
		color: rgb(255, 255, 255);
		padding-bottom: 24px;
		padding-top: 148px;

	}

	.par_text_main {
		font-size: 21px;
		line-height: 39px;
	}

	.button.btn_servises {
		display: none;
	}
}

@media (min-width: 460px) {
h1 {
max-width: 90%;
}
}